h1 {
    color: blue;
}

label {
    font-weight: bold;
    font-style: italic;
}

.jumbotron {
    min-height: 100vh;
}

.card {
  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    float: left;
    margin-left: 10px;
    margin-down: 10px;
    margin-up: 10px;
  }

  .cart {
    background: #fff
}